# Copyright 2018-2023 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

build
sdkconfig
sdkconfig.old
dependencies.lock
managed_components
doc/out
.vscode
dist

# Files related to clang-tidy
warnings.txt
run-clang-tidy.py

# Generic python cache
__pycache__
