menu "Astarte toggle LED example"

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA or WPA2) for the example to use.

config LED_GPIO
    int "LED GPIO number"
    range 0 34
    default 2
    help
        GPIO number (IOxx) to blink on and off.

        Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

        GPIOs 35-39 are input-only so cannot be used as outputs.

config ASTARTE_REALM
    string "Astarte realm"
    default "test"
    help
        The realm to be used use in Astarte requests.

config ASTARTE_PAIRING_BASE_URL
    string "Astarte pairing base URL"
    default "http://localhost:4003"
    help
        The base URL to reach Astarte Pairing API. This should be the URL up to (and excluding) /v1.

config ASTARTE_PAIRING_JWT
    string "Pairing JWT token"
    default ""
    help
        JWT token to authorize device registration.

        Can be obtained with ./generate-astarte-credentials -t pairing -p yourrealmkey.key

endmenu
