# (C) Copyright 2025, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

menu "Astarte application sample"

config DEVICE_ID
    string "Device hardware ID"
    default ""
    help
        Device ID to be used to connect to Astarte.

config CREDENTIAL_SECRET
    string "Credential secret"
    default ""
    help
        The credential secret to be used to connect to Astarte.

config DEVICE_POLL_PERIOD_MS
    int "Device thread polling period (ms)"
    default 100
    help
        Use this setting to change the polling period for the Astarte device.

endmenu
